<p-dialog [header]="engineName" [(visible)]="display" modal="true" [contentStyle]="{ background: 'white', width: '950px', height: '600px'}">
<app-engine-graph [engineGraph]="engineGraph" display="true" [size]="[930, 550]" [readonly]="true"></app-engine-graph>
<p-footer>
  <button type="button" (click)="hideEngine()" pButton  label="Ok"></button>
</p-footer>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-12">
      <p-table [value]="alignments">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Source Dataset</th>
            <th>Target Dataset</th>
            <th>Engine</th>
            <th>Status</th>
            <th>Alignment</th>
            <th>Log</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alignment>
          <tr>
            <td><span class="delete-button"><i class="fa fa-fw fa-trash" (click)="confirm(alignment.id)"></i></span></td>
            <td><a [href]="getVOWLLink(alignment.ontology1)">DataSet1</a></td>
            <td><a [href]="getVOWLLink(alignment.ontology2)">DataSet2</a></td>
            <td><div class="link" (click)="showEngineGraph(getEngineName(alignment.engine))">{{getEngineName(alignment.engine)}}</div></td>
            <td>{{alignment.status}}</td>
            <td><a [href]="getDownloadLink(alignment.id, 'alignment')"><i class="pi pi-download"></i></a></td>
            <td><a [href]="getDownloadLink(alignment.id, 'log')"><i class="pi pi-download"></i></a></td>
            <td>{{alignment.startTime}}</td>
            <td>{{alignment.endTime}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
