<p-sidebar [(visible)]="display" [modal]="false" position="right" (onHide)="onHideClick()">
  <p-fieldset [legend]="node?.label">
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Weight</span>
      <input *ngIf="node !== undefined" type="text" pInputText placeholder="weight" [(ngModel)]="node.weight">
    </div>
    <div class="ui-inputgroup field" *ngFor="let param of node?.params | keyvalue; trackBy:trackByFn">
      <span class="ui-inputgroup-addon">{{param.key}}</span>
      <input *ngIf="node !== undefined" type="text" pInputText [(ngModel)]="node.params[param.key]">
    </div>
  </p-fieldset>
</p-sidebar>
