<p-fieldset [legend]="title">
  <div class="ui-inputgroup field">
    <span class="ui-inputgroup-addon">Dataset ID</span>
    <input type="text" pInputText placeholder="Dataset ID" [(ngModel)]="dataset.uri">
  </div>
  <div class="ui-inputgroup field">
  <span class="ui-inputgroup-addon">Sparql Endpoint</span>
  <input type="text" pInputText placeholder="Sparql Endpoint" [(ngModel)]="dataset.sparqlEndpoint">
  </div>
  <div class="ui-inputgroup field">
    <span class="ui-inputgroup-addon">Synonymizer ID</span>
    <input type="text" pInputText placeholder="Synonymizer ID" [(ngModel)]="dataset.synonymizerUri">
  </div>
  <div class="ui-inputgroup field">
    <span class="ui-inputgroup-addon">Syn Sparql End.</span>
    <input type="text" pInputText placeholder="Synonymizer Sparql Endpoint" [(ngModel)]="dataset.synonymiserSparqlEndpoint">
  </div>
  <div class="ui-inputgroup field">
  <span class="ui-inputgroup-addon">Lexicalization</span>
    <p-dropdown [options]="lexicalizations" [(ngModel)]="dataset.lexicalization"></p-dropdown>
  </div>
  <div class="ui-inputgroup field">
    <span class="ui-inputgroup-addon">Language</span>
    <input type="text" pInputText placeholder="Language" [(ngModel)]="dataset.language">
  </div>
  <!--div class="ui-inputgroup field">
    <span class="ui-inputgroup-addon">Use Triple Store</span>
    <span><p-inputSwitch [(ngModel)]="isTripleStoreUsed"></p-inputSwitch></span>
  </div>
  <div *ngIf="isTripleStoreUsed">
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Url</span>
      <input type="text" pInputText placeholder="Url" [(ngModel)]="url">
    </div>
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Username</span>
      <input type="text" pInputText placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Password</span>
      <input type="text" pInputText placeholder="Password" [(ngModel)]="password">
    </div>
  </div-->
</p-fieldset>
