/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Cubos;
  src: url(/assets/fonts/Cubos.ttf);
}

@fontFamilyCubos: Cubos;
html, body {
  background: white;
}
.fluid-container {
  padding: 15px;
  height:100%;
}
