<p-dialog header="Configuration Uploaded" [(visible)]="display" modal="true" [transitionOptions]="'1ms'">
  You will find the new configuration in the engines' list.
  <p-footer>
    <button type="button" (click)="hideDialog()" pButton  label="Ok"></button>
  </p-footer>
</p-dialog>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-12">
      <p-fieldset legend="Load Configuration File">
        <label>
          <input type="file" (change)="selectFile($event)" style="display:none" multiple/>
          <a style="cursor: pointer" mat-raised-button color="primary">
            <i class="fa fa-fw fa-upload"></i>
            Select Configuration to Upload
          </a>
        </label>
        <div class="ui-inputgroup field">
          <span class="ui-inputgroup-addon">Id</span>
          <input readonly retype="text" pInputText placeholder="Id" [(ngModel)]="engineId">
        </div>
        <div class="ui-inputgroup field">
          <span class="ui-inputgroup-addon">Name</span>
          <input type="text" pInputText placeholder="Name" [(ngModel)]="engineName">
        </div>
        <div class="ui-inputgroup field">
          <span class="ui-inputgroup-addon">Description</span>
          <input type="text" pInputText placeholder="Description" [(ngModel)]="engineDescription">
        </div>
        <div class="upload-button"><button pButton type="button" label="Upload Configuration" (click)="onUploadClick()"></button></div>
        <div>{{message}}</div>
      </p-fieldset>
    </div>
  </div>
</div>
