<div class="row">
  <div class="col-md-4">
    <img src="assets/images/dna.png" width="100">
  </div>
  <div class="col-mod-8">
    <div class="row">
      <div class="col-md-12 main-title">
        GENOMA
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 subtitle">
        General Ontology Matching Architecture
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p-tabMenu [model]="items"></p-tabMenu>
  </div>
</div>
