<div *ngIf="name !== undefined" class="graph-name">{{name}}</div>
<div *ngIf="name !== undefined" class="graph-description">{{description}}</div>
<div>
<ngx-graph
  class="chart-container"
  [view]="size"
  [links]="engineGraph?.links"
  [nodes]="engineGraph?.nodes"
  [update$]="update$"
  layout="dagreCluster"
  xmlns:svg="http://xmlns.jcp.org/xml/ns/javaee">
  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #clusterTemplate let-cluster>
    <svg:g
      class="node cluster"
      ngx-tooltip
      [tooltipPlacement]="'top'"
      [tooltipType]="'tooltip'"
      [tooltipTitle]="cluster.label"
    >
      <svg:rect
        rx="5"
        ry="5"
        [attr.width]="cluster.dimension.width"
        [attr.height]="cluster.dimension.height"
        [attr.fill]="cluster.data.color"
      />
    </svg:g>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g class="node" [id]="node.id"(click)="onNodeClick($event)" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label">
      <svg [attr.width]="node.dimension.width" [attr.height]="node.dimension.height">
        <image x="30%" y="0%" width="50" height="50" [attr.href]="node.image"></image>
      </svg>
      <svg:text alignment-baseline="central" [attr.x]="10" y="50">
        {{node.label}}
      </svg:text>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge" [id]="link.id" (click)="onLinkClick($event)" >
      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
      <svg:text class="edge-label" text-anchor="middle">
        <textPath
          class="text-path"
          [attr.href]="'#' + link.id"
          [style.dominant-baseline]="link.dominantBaseline"
          startOffset="50%"
        >
          {{link.label}}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>
</div>
