<p-dialog [header]="engine?.id" [(visible)]="display" modal="true" [contentStyle]="{ background: 'white', width: '950px', height: '600px'}">
  <app-engine-graph *ngIf="display" [name]="engine?.name" [description]="engine?.description" [engineGraph]="engineGraph" display="true" [size]="[930, 500]" [readonly]="true"></app-engine-graph>
  <p-footer>
    <button type="button" (click)="hideEngine()" pButton  label="Ok"></button>
  </p-footer>
</p-dialog>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-6">
      <app-ontology-settings [dataset]="dataset1" title="Source Dataset"></app-ontology-settings>
    </div>
    <div class="col-md-6">
      <app-ontology-settings [dataset]="dataset2" title="Target Dataset"></app-ontology-settings>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-fieldset legend="Matching Settings">
        <div class="ui-inputgroup field">
          <span class="ui-inputgroup-addon">Engine</span>
          <p-dropdown [options]="engines" [(ngModel)]="engine"></p-dropdown><i class="fa fa-fw fa-info-circle info-icon" (click)="showEngineGraph(engine)"></i>
        </div>
        <div class="ui-inputgroup field">
          <span class="ui-inputgroup-addon">Ref Alignment</span>
          <input type="text" pInputText placeholder="Matching benchmark" [(ngModel)]="refAlignment">
        </div>
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="upload-button"><button pButton type="button" label="Run Matching" (click)="onRunMatchingClick()"></button></div>
    </div>
  </div>
</div>
