.info-icon {
  font-size: 30px;
  cursor: pointer;
}

:host /deep/.ui-fieldset-legend-text {
  font-size: 20px;
}

:host /deep/.ui-fieldset-legend {
  padding: 6px 12px;
}

.field {
  padding: 3px;
  input {
    width:90%;
  }
  span {
    width:10%;
  }
}

