.graph-div {
  background: white;
}
.toolbar-element {
  margin-left: 5px;
  margin-right: 5px;
}

.field {
  padding: 3px;
  input {
    width:90%;
  }
  span {
    width:10%;
  }
}

.save-button {
  float: right;
}

