<p-dialog header="Save Engine" [(visible)]="saveDialogDisplay" modal="true" [contentStyle]="{ width: '950px', height: '600px'}">
  <p-fieldset>
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Id</span>
      <input  type="text" pInputText placeholder="id" [(ngModel)]="engineId">
    </div>
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Name</span>
      <input  type="text" pInputText placeholder="name" [(ngModel)]="engineName">
    </div>
    <div class="ui-inputgroup field">
      <span class="ui-inputgroup-addon">Description</span>
      <input  type="text" pInputText placeholder="description" [(ngModel)]="engineDescription">
    </div>
    <div class="save-button"><button class="toolbar-element" pButton type="button" label="Save"   (click)="onClickDialogSaveEngine()"></button></div>
  </p-fieldset>
</p-dialog>
<p-dialog header="Error" [(visible)]="errorVisible" modal="true" [contentStyle]="{ width: '400px', height: '150px' }">
  {{errorMessage}}
</p-dialog>
<app-matcher-options-sidebar [display]="display" [node]="node" (hideClick)="onHideClick()"></app-matcher-options-sidebar>
<div class="row">
  <div class="col-md-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <p-dropdown [options]="matchersOptions" [(ngModel)]="matcher"></p-dropdown>
        <button class="toolbar-element" pButton type="button" icon="pi pi-plus" pTooltip="Add Matcher" tooltipPosition="bottom" (click)="onClickPlus()"></button>
        <p-toggleButton onLabel="On" offLabel="Off" onIcon="fa fa-link" offIcon="fa fa-unlink" iconPos="right" pTooltip="Create Link" tooltipPosition="bottom" [(ngModel)]="createLink"></p-toggleButton>
        <button class="toolbar-element" pButton type="button" icon="fa fa-trash" pTooltip="Delete Node" tooltipPosition="bottom" (click)="onClickDeleteNode()"></button>
        <button class="toolbar-element" pButton type="button" icon="fa fa-ban" pTooltip="Clear Engine" tooltipPosition="bottom" (click)="onClickReset()"></button>
      </div>

      <div class="ui-toolbar-group-right">
        <p-dropdown [options]="enginesOptions" [(ngModel)]="engine" ></p-dropdown>
        <button class="toolbar-element" pButton type="button" icon="pi pi-download" pTooltip="Load Engine" tooltipPosition="bottom" (click)="onClickLoadEngine()"></button>
        <button class="toolbar-element" pButton type="button" icon="pi pi-save" pTooltip="Save Engine" tooltipPosition="bottom" (click)="onClickSaveEngine()"></button>
      </div>
    </p-toolbar>
  </div>
</div>
<div class="row">
  <div class="col-md-12 graph-div">
    <app-engine-graph *ngIf="refresh" [engineGraph]="engineGraph" display="true" [size]="[1500, 550]" [readonly]="false" (nodeClick)="onNodeClick($event)"></app-engine-graph>
  </div>
</div>
